<div class="content">
<!--  <div class="content-header">Header</div>-->
<!--  <div class="content-main">-->
<!--    <div class="content-side">Side</div>-->
<!--    <div class="content-body">Body</div>-->
<!--  </div>-->

  <div *ngFor="let student of students; let i = index">
    <ng-container *ngIf="searchText === '' || student.name.includes(searchText) ">
      <app-student [student]="student" [i]="i" (onStudentClick)="childEvent($event)" )></app-student>
    </ng-container>
  </div>
  <input type="text" [(ngModel)]="searchText" ]>


</div>


